/*
  RESET CSS MINIMAL
  - Uniformise le rendu entre navigateurs
  - Tu peux remplacer par normalize.css si tu préfères
  - Laisse ce fichier simple et ajoute tes styles dans styles.css
*/
*,*::before,*::after{box-sizing:border-box}
html,body,h1,h2,h3,h4,p,ul,ol,li,figure,figcaption,blockquote,dl,dd{margin:0;padding:0}
ul[role="list"],ol[role="list"]{list-style:none}
html:focus-within{scroll-behavior:smooth}
body{min-height:100vh;text-rendering:optimizeLegibility;line-height:1.5}
img,picture,svg,video,canvas{display:block;max-width:100%}
input,button,textarea,select{font:inherit;color:inherit}
button{cursor:pointer}
/* End reset */


